body{
  margin: 0;
  padding: 0;
  background-image: url('../img/imagem.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: mobile;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

sction, header, footer{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
}

h1, h2{
  color: #f2f2f2;
  text-shadow: 1px 1px 2px #000;
}

.botao-voltar{
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.botao-voltar:hover{
background-color: #dddddd;
}

footer a{
  color: #ffffff;
  text-decoration: underline;
}

footer a:hover{
color: #00eaff;
}

.botao-contacto{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.botao-contacto a{
  background-color: #ffffff;
  color: #000000;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.botao-contacto a:hover{
  background-color: #dddddd;
}
